<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome to Registration System!</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->

  </head>
  <body class="flex flex-col h-screen">

   <%= if  @current_user do %>
         <%= render "nav.html", assigns %>
   <% end %>
   <%= render(@view_module, @view_template, assigns) %>

  <div class="container mx-auto justify-center items-center h-full static">
    <div id="elm-main" class=""></div>
  </div>
      <script>window.userToken = "<%= assigns[:user_token] %>"</script>
      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
