<%= if get_flash(@conn, :info) do %>
<p class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert"><%= get_flash(@conn, :info) %></p>
<% end %>
<%= if get_flash(@conn, :error) do %>
<p class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert"><%= get_flash(@conn, :error) %></p>
<% end %>
<div class="flex container mx-auto content-center p-10">
<div class="rounded overflow-hidden shadow-lg  w-1/2 m-2">
  <img class="w-full" src="/images/team-image-2.jpeg" alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">Team Registration</div>
    <p class="text-gray-700 text-base">
       Register your team:
    </p>
  </div>
  <div class="px-6 py-4">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Start</span>
  </div>
</div>
<div class="rounded overflow-hidden shadow-lg w-1/2 m-2">
  <img class="w-full" src="/images/league-image.jpeg" alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">League Registration</div>
    <p class="text-gray-700 text-base">
      Register your league
    </p>
  </div>
  <div class="px-6 py-4">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
    <%= link "Start Registration", to: Routes.league_reg_path(@conn, :new) %>
    </span>
  </div>
</div>
</div>