
<div class="container mx-auto flex flex-col h-full justify-center items-center">
<%= if @changeset.action do %>
            <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
                <div class="text-red-500 text-xs italic">
                    <p>Oops, something went wrong!</p>
                </div>
            </div>
        <% end %>
<%= form_for @changeset, Routes.user_path(@conn, :create), [class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"], fn f -> %>

    <p class="mb-3 text-center font-sans text-3xl text-gray-800">Roy Hobbs Account</p>
    <%= label(:user, :nome, "Name", class: "block text-gray-700 text-sm font-bold mb-2") %>
    <%= text_input f, :name, placeholder: "Name", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    <%= error_tag f, :name %>
    <%= label(:user, :username, "Username", class: "block text-gray-700 text-sm font-bold mb-2") %>
    <%= text_input f, :username, placeholder: "Username", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    <%= error_tag f, :username %>
    <%= inputs_for f, :credential, fn cf -> %>
    <%= label(:credential, :email, class: "block text-gray-700 text-sm font-bold mb-2") %>
    <%= text_input cf, :email, placeholder: "Email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        <%= error_tag cf, :email %>
    <%= label(:credential, :password, class: "block text-gray-700 text-sm font-bold mb-2") %>
    <%= password_input cf, :password, placeholder: "Password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
        <%= error_tag cf, :password %>       
    <% end %>
    <div class="flex items-center justify-between">
        <%= submit "Create Account", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
         <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/sessions/new">
                    Cancel
         </a>
     </div>
<% end %>
</div>