<div class="container mx-auto flex flex-col h-full justify-center items-center">

    <%= if get_flash(@conn, :info) do %>
    <p class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert"><%= get_flash(@conn, :info) %></p>
    <% end %>
    <%= if get_flash(@conn, :error) do %>
    <p class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert"><%= get_flash(@conn, :error) %></p>
    <% end %>
    <%= form_for @conn, Routes.session_path(@conn, :create), [as: :session, class: "w-full max-w-xs bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"],  fn f -> %>
    <h1 class="mb-3 text-center font-sans text-3xl text-gray-800">Please Log In</h1>
    <div class="mb-6">
        <%= label(:session, :email, "Email address", class: "block text-gray-700 text-sm font-bold mb-2") %>
        <%= text_input f, :email, placeholder: "Email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        <%= error_tag f, :email%>
    </div>
    <div class="mb-6">
        <%= label(:session, :password, "Password", class: "block text-gray-700 text-sm font-bold mb-2" ) %>
        <%= password_input f, :password, palaceholder: "Password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        <%= error_tag f, :password %>
    </div>
    <div class="flex items-center justify-between">
        <%= submit "Log in", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
            Forgot Password?
         </a>
    </div>
    <div class="flex items-center justify-between">
        <p class="mt-5 mb-3 text-muted">© 2019</p><%= link "Create Account", to: Routes.user_path(@conn, :new), class: "mt-5 mb-3 uppercase text-left text-blue-500 font-medium" %>
    </div>
    <% end %>

</div>
