<div class="card">
  <div class="card-header">
    <h3><%= @league.name %></h3>
    <%= content_tag :div, id: "league",
        data: [id: @league.id] do %>
    <% end %>
  </div>

  <div class="card-body">
    <h3 class="card-title">Notes</h3>

    <div class="card-text" id="msg-container">
    </div>

    <div class="form-group">
      <textarea id="msg-input"
                class="form-control"
                rows="3"
                placeholder="Comment..."></textarea>

      <button id="msg-submit" class="btn btn-primary mt-2"
              type="submit">
        Post
      </button>
    </div>
  </div>
</div>
