<div class="container">
<h1 class="h3 ml-3">Edit League</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.league_path(@conn, :update, @league)) %>

<span class="ml-3"><%= link "Back", to: Routes.league_path(@conn, :index) %></span>
</div>
