<%= form_for @changeset, @action,[class: "form border rounded p-3 mb-3 ml-3 col-md-6" ], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>
  <div class="form-group">
  <%= label f, :url %>
  <%= text_input f, :url , class: "form-control"%>
  <%= error_tag f, :url %>
</div>
  <div class="form-group">
  <%= label f, :name %>
  <%= text_input f, :name, class: "form-control" %> 
</div>
  <div class="form-group">
  <%= label f, :description %>
  <%= textarea f, :description, class: "form-control"  %>
  <%= error_tag f, :description %>
</div>
  <div class="form-group">
  <%= label f, :category_id, "Category"%>
  <%= select f, :category_id,
    category_select_options(@categories),
    prompt: "Choose a category" , class: "form-control"%>
  </div>
  <div>
    <%= submit "Save" %>
  </div>
<% end %>
