<table class="table">
  <thead class="thead-light">
    <tr>
      <th>League Name</th>
        <th></th>
        <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for league <- @leagues do %>
    <tr>
      <td><%= league.name %></td>

      <td>
        <%= link "Visit", to: Routes.visit_path(@conn, :show, league) %>
        <%= link "Edit", to: Routes.league_path(@conn, :edit, league) %>
        <%= link "Delete", to: Routes.league_path(@conn, :delete, league), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New League", to: Routes.league_reg_path(@conn, :new) %></span>
