<div id="elm-league1"></div>
<div id="elm-league-registration-main1"></div>
<div class="container">
<h1 class="h3 ml-3">New League</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.league_path(@conn, :create)) %>

<span class="ml-3"><%= link "Back", to: Routes.league_path(@conn, :index) %></span>
</div>
