<h1>Show League</h1>

<ul>

  <li>
    <strong>Url:</strong>
    <%= @league.url %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= @league.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @league.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.league_path(@conn, :edit, @league) %></span>
<span><%= link "Back", to: Routes.league_path(@conn, :index) %></span>
